<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
        <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </tr>
    </tr>
</table>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a href="/new">Create</a>
</body>
</html>